*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  text-align:center;
  background-image: url("background1.jpg");
  background-size: cover;
  background-position: center;
}
h1{
  color:white;
  text-align:center;
}
button{
  margin: 20px;
  width: 80px;
  height:80px ;
  cursor: pointer;
  border-radius: 25px;
  background-color: rgb(133, 201, 178);

}
.user-choice{
  width: 60px;
  height: 60px;
  border-radius:6px;
}
#reset{
  width: 100px;
  height: 40px;
  margin: 0px;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 20px;
}
#reset:hover{
  background-color: rgb(4, 65, 67);
  border: none;
  color: white;
  box-shadow: 0px 2px 3px black;
 
}
.user-move{
 color: rgb(249, 144, 30);
  width:300px;
  height: 20px;
  margin:20px 400px 10px 400px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.5rem;
}
.computer-move{
 color: rgb(58, 170, 214);
 width: 300px;
 height: 20px;
 margin:20px 400px 10px 400px;
 border-radius: 5px;
 font-weight: bold;
 font-size: 1.5rem;
}
.result{
  width: 400px;
  height: 20px;
  color: rgb(77, 245, 88);
  margin:20px 400px 10px 350px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;

}
.score{
  background-color: rgb(229, 121, 202);
  width: 90px;
  height: 80px;
  text-align: center;
  padding-top: 5px;
  margin:20px 500px 10px 500px;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  box-shadow: 0px 5px 8px black;
  
}
