*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  color: white;
}
.calculator{
  width: 80%;
  text-align: center;
  margin: 10px 10%;
}
h1{
  color:white;
  padding: 10px;
}
input{
  width: 200px;
  height: 30px;
  padding: 5px;
  margin: 10px 5px;
  box-shadow: 0px  1px 2px black;
}
label{
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
}
button{
  width: 100px;
  height: 35px;
  cursor: pointer;
  background-color: lightsalmon;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px  1px 2px black;
  margin: 20px 0px;
  letter-spacing: 2px;
  font-weight: bold;
}
 
#weight-guide p{
  padding: 5px;
  text-transform: capitalize;
}
#weight-guide h3{
  padding: 10px;
  margin-top: 10px;
}
